@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-button{
    background-color: #37af33;
    color: white;
    cursor: pointer;
    margin-top: 50px;
    text-decoration: none;
    padding: 5,10,5,10;
    width: 250px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.back-button ion-icon {
    margin-right: 10px;
}

.back-button:hover{
    background-color: #20641d;
    color: white;
    transition: 0.15s;
}

.components {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}