@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

.cartDiv {
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    right: 0;
}

.collapsible {
    width: 50px;
    height: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
    cursor: pointer;
    font-size: 20px;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberProducts {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 20px;
  display: flex;
  margin-bottom: -15px;
  margin-left: 32px;
  position: sticky;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  font-family: 'Nunito Sans', sans-serif;
}

.active, .collapsible:hover {
    background-color: green;
    color: white;
    transition: 0.2s;
  }

  .cartContent {
    width: 500px;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    background-image: linear-gradient(135deg, rgba(0, 128, 0, 0.466), rgb(7, 180, 7));
    background-color: rgba(117, 117, 117, 0.322);
    /*border-left: #37af33 solid 5px;*/
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.397);
  }

  .cartProducts {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .cartProduct {
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: green;
    border-radius: 20px;
    margin-right: 5px;
    margin-top: 5px;
  }

  .cartProductImg {
    width: 150px;
    border-radius: 20px;
  }

  .cartProduct input[type='button'] {
    height: 25px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
  }

  .cartProduct input[type='button']:hover {
    background-color: #37af33;
    color: white;
    transition: 0.25s;
  }

  .korpaCheckout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .korpaCheckout a {
    text-decoration: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    color: #1b1b1b; 
    font-size: 16px;
  }

  .korpaCheckout a ion-icon {
    font-size: 19px;
    margin-right: 5px;
  }
  
  .korpaCheckout a label {
    cursor: pointer;
  }

  .korpaCheckout a:hover {
    color: white;
    transition: .2s;
    background-color: #44e43e;
    box-shadow:  5px 5px 20px #44e43ebd,
             -5px -5px 20px #44e43eb0;
  }