.home {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h1 {
    margin-top: 0;
    font-size: 56px;
    font-weight: 800;
    color: #026873;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.header h1::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #04BF8A;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.header h1:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.header h1:hover {
    color: white;
    cursor: pointer;
}

.header p {
    margin-top: -20px;
}

.homeBtn {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bolder;
    border: 2px solid #03A64A;
    background: transparent;
    color: #025940;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.homeBtn span {
    background: #03A64A;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.homeBtn:hover span {
    width: 100%;
}

.homeBtn:hover {
    border: none;
    color: white;
}

.logo {
    width: 200px;
    user-select: none;
}

.buttons {
    margin-top: 20px;
}