@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Marck+Script&family=Pacifico&display=swap');

.productsMain {
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(0deg, rgb(8, 122, 8), transparent,transparent);
    backdrop-filter: grayscale() blur(5px) brightness(80%);
    width: 100dvw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    overflow-y: scroll;
    
    padding-top: 50px;
    flex-direction: column;
    overflow: hidden;
}

.productsSubDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productsFilteredDiv{
    overflow-y: scroll;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.315), transparent);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputFilterProduct:focus {
    outline: none;
}

.productDiv {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-image: linear-gradient(90deg, rgb(10, 168, 10), rgb(16, 119, 22));
    background-color: rgb(16, 119, 22);
    width: 250px;
    height: 350px;
    border-radius: 30px;
    color:white;
    box-shadow: 0 0 10px rgba(37, 37, 37, 0.363);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.productImage {
    width: 250px;
    height: 250px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 10px;
}

.productsMain .productDiv input[type='button'] {
    background-color: transparent;
    color: white;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.productsMain .productDiv input[type='button']:hover {
    background-color: white;
    transition: 0.25s;
    color: green;
    border: none;
    font-weight: 500;
}

.pagination {
}

.pagination a {
    color: rgb(16, 156, 28);
    background-color: white;
    border-radius: 50px;
    margin-left: 3px;
    margin-right: 3px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.295));
    cursor: pointer;
  }

  .pagination a.active {
    background-color: rgb(24, 216, 40);
    color: white;
  }

  .pagination a:hover:not(.active) {background-color: rgb(16, 141, 26); color: white;}

  .productsMain h1 {
    font-size: 25px;
    color: white;
    font-family: 'Caveat', cursive;
  }
  
  .filtersDiv {
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filtersDiv a ion-icon {
    margin-right: 3px;
  }

  .clearProductTypeFilter {
    margin-left: 5px;
    background-color: rgb(16, 119, 22);
    color: white;
    text-decoration: none;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
  }

  .clearProductTypeFilter:hover {
    background-color: rgb(10, 168, 10);
    transition: 0.2s;
  }

  .inputFilterProduct {
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    width: 240px;
}
