.modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    /*height: 400px;*/
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
  }

  .backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .registerRef {
    cursor: pointer;
  }

  .registerRef:hover {
    color:blue;
    transition: 0.15s;
  }

  .registerDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .registerDiv input {
    border: 2px solid #37af33;
    color: #383838;
    border-radius: 15px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    width: 256px;
  }

  .registerDiv input[type='button'] {
    background-color: transparent;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
  }

  .registerDiv input[type='button']:hover {
    background-color: #37af33;
    color: white;
    transition: 0.15s;
  }

  .registerDiv h1 {
    color: #37af33;
    font-size: 25px;
}

.x {
    align-self: first baseline;
    height: 22px;
    width: 22px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    border-radius: 20px;
}

.x:hover {
    background-color: rgb(24, 204, 48);
    border-radius: 20px;
    transition: 0.2s;
    color: white;
}

.logInDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logInDiv input {
    border: 2px solid #37af33;
    color: #383838;
    border-radius: 15px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    width: 256px;
}

.logInDiv input[type='button'] {
  background-color: transparent;
  cursor: pointer;
  margin-top: 20px;
  width: 200px;
}

.logInDiv input[type='button']:hover {
  background-color: #37af33;
  color: white;
  transition: 0.15s;
}

.aboutDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
}

.aboutDiv label {
  border: 2px solid #37af33;
  color: #383838;
  border-radius: 15px;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 256px;
}

.aboutDiv h1 {
  color: #37af33;
    font-size: 25px;
}

.editUserDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.editUserDiv input {
    border: 2px solid #37af33;
    color: #383838;
    border-radius: 15px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    width: 300px;
}

.editUserDiv input[type='button'] {
  background-color: #37af33;
  color: white;
  cursor: pointer;
  width: 318px;
}

.editUserDiv input[type='button']:hover {
    background-color: #20641d;
    color: white;
    transition: 0.15s;
}

.editUserDiv h1 {
  color: #37af33;
}

.poseceniProizvodi {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}

.poseceniProizvodi .poseceniNaslov {
  font-weight: bold;
}

.nlmodal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

.nlmodal a {
  color: green;
  cursor: pointer;
}

.nlmodal a:hover {
  color: rgb(0, 87, 0);
  transition: 0.2s;
}

.nlInfo {
  color: green;
}

.logInDiv h1 {
    color: #37af33;
    font-size: 25px;
}

.aboutProduct {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.aboutProductImg {
  width: 250px;
  border-radius: 20px;
}

.modalAbout {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 60rem;
  /*height: 400px;*/
  z-index: 10;
  position: fixed;
  top: 25vh;
  height: 400px;
  left: calc(50% - 30rem);
  display: flex;
  justify-content: center;
  background-image: url('../assets/aboutBg.png');
  background-size: cover;
}

.aboutProduct01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #37af33;
}

.aboutProduct02 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutProduct02 label {
  text-align: left;
}

.xproduct {
  align-self: first baseline;
  height: 25px;
  width: 25px;
  padding: 2px 2px 2px 2px;
  clip-path: circle();
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.xproduct:hover {
  background-color: rgb(24, 204, 48);
  border-radius: 20px;
  transition: 0.2s;
  color: white;
}